<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Loginware</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel = "icon" href ="assets/img/loginware.jpg" type = "image/x-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/" rel="preconnect">
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header d-flex align-items-center sticky-top" style="padding-right: 5%;" id="header">
      <div class="container-fluid d-flex align-items-center justify-content-between">

        
        <a class="logo d-flex align-items-left me-auto me-xl-0" href="/mainhome">
          <img src="/images/q4blue.png" height="55px" alt="">
          <span></span>
        </a>
 <nav id="navmenu" class="navmenu"></nav>
        <ul>
   
   </ul>
   </div>
   </header>
   
   <main id="main">
 <section id="hero" class="hero">
  <img src="assets/img/images/banner_2.jpg" alt="banner" data-aos="fade-in">
      <!-- ======= Home Section ======= -->
      
      
      
      <section id="hero" class="d-flex align-items-center">
    
<form class="container" th:action="@{/adminlogin}"	method="post" modelAtrribute="login">
  <div   class="mb-3" th:text="${msg}"></div>
<div class="mb-3">
                <label for="admin" class="form-label" ><b>Admin Name</b></label>
                <input type="text" class="form-control" name="name">
            </div> 
 <div class="mb-3">
                <label for="email" class="form-label"><b>Password</b></label>
             <input type="password" class="form-control" value="" id="myInput" name="password"><br>
		<input type="checkbox"  onclick="myFunction()">Show Password
		<script>
			function myFunction() {
			  var x = document.getElementById("myInput");
			  if (x.type === "password") {
			    x.type = "text";
			  } else {
			    x.type = "password";
			  }
			}
			</script>
				
            </div>
  
            	

            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

</section>
</section>
</main>
   
	

</body>
</html>