<!DOCTYPE html>
<html>
<head>
  <title>Embedded C Programming Internship at Q4 LEARNING</title>
  <meta charset="ISO-8859-1">


<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Loginware</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
     <link rel = "icon" href ="assets/img/loginware.jpg" type = "image/x-icon">
    
    <link href="https://fonts.googleapis.com/" rel="preconnect">
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
    
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
     <link href="assets/css/main.css" rel="stylesheet">
   
</head>

<body>

<main id="main">

 <section style="background-color:silver;">
       
       <div class="stats-item text-center w-100 h-100" text-align: center;>
       <h1 text-align: center;><b>Embedded C Programming Internship at Q4 LEARNING</b></h1>
       <br><br>
       <h3 style="font-size: 20px; line-height: 1.6em; text-align: left;"> Q4-Learning internship in C programming is an ideal launchpad for an engineering college graduate to give a new dimension to his learning.
      Carved out as a combination of foundational learning followed by project based outcome will put yourself ahead in the fresher job market.
      This Free Internship in C programming is accredited by National Skill Development Corporation (NSDC) under the Electronics Sector Skill Council of India (ESSCI).
      Upon successfully completing this Free Online internship in C programming, you will get certification from ESSCI. This can be converted into credit points in your academia as most of the engineering colleges recognize this program.
      This C programming internship program is delivered in a Hybrid learning model so that you can learn it from your home and office.
    Upon successfully completing the internship, you will be certified by ESSCI and can convert the credits into your academia.
    </h3>
    <br><br>
     	<a href="student_register" class="btn btn-primary">Register Now</a>
    
      </div>         
          
        </section><!-- End Stats Section -->

<!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="/mainhome" class="logo d-flex align-items-center">
             <span>Loginware</span>
          </a>
        <p>Loginware an industry-leading technology company at the forefront of delivering sophisticated and digitally transformative solutions for the manufacturing sector.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://api.whatsapp.com/send?phone=+919916609819"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.facebook.com/Loginware-Softtec-Pvt-Ltd-159838271120545/"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/loginware_softtec_pvt_ltd?igshid=xkw7jj53xx10"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
        <div class="col-lg-2 col-6 footer-links">
        <h4>Company</h4>
        <ul>
          <li><a href="/mainhome">Product</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Products</h4>
        <ul>
          <li><a href="/eagle">Eagle</a></li>            
            <li><a href="/eaglepro">Eagle Pro</a></li>
            <li><a href="/sparrow">Sparrow</a></li>
            <li><a href="/feathergauge">FeatherGauge</a></li>
            <li><a href="/featherwatt">FeatherWatt</a></li>
            <li><a href="/vision">Eagle Vision Analytics</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p><b>HQ  | </b> Hassan</p>
        <p><b>CO  | </b> Banglore</p>        
        <p class="mt-4"><strong>Phone:</strong> <span>+91 9916609819</span></p>
        <p><strong>Email:</strong> <span>info@loginwaresofttec.com</span></p>
      </div>

    </div>
  </div>

</footer><!-- End Footer -->
  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>





      




 
    

</body>
</html>
