<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Eagle Pro</title>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Loginware</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link rel="icon" href="assets/img/loginware.jpg" type="image/x-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/" rel="preconnect">
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


</head>
</head>
<body class="blog-page">

 <header class="header d-flex align-items-center sticky-top" style="padding-right: 5%;" id="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a class="logo d-flex align-items-left me-auto me-xl-0" href="/mainhome">
        <img src="assets/img/loginware.png" alt="">
        <span></span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/home1"><img src="/images/q4blue.png" alt="" height="60"></a></li>

          <li class="dropdown has-dropdown"><a href="/mainhome" class="active"><span>Products</span> <i
                class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
               <li><a href="/eagle">Eagle</a></li>            
            <li><a href="/eaglepro">Eagle Pro</a></li>
            <li><a href="/sparrow">Sparrow</a></li>
            <li><a href="/feathergauge">FeatherGauge</a></li>
            <li><a href="/featherwatt">FeatherWatt</a></li>
            <li><a href="/vision">Eagle Vision Analytics</a></li>
            </ul>
          </li>
          <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>

        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

<main id="main">

    <section id="stats" class="stats">
      <img src="assets/img/products/33.jpg" alt="" data-aos="fade-in">
      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="stats-item text-center w-100 h-100">
            <h1>EAGLE Pro</h1>
            </h3>Experience The Power Of Loginware’s Advanced Edge Computing Device</h3>
          </div>
        </div>
      </div>
    </section><!-- End Stats Section -->

<section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2>EAGLE Pro </h2>
            <p>
              EAGLE Pro is the enhanced and advanced version of Eagle, developed by Loginware. It is a comprehensive
              cybersecurity solution designed to provide organizations with robust protection against cyber threats and
              unauthorized access. With advanced features and capabilities, EAGLE Pro offers an elevated level of
              security to safeguard sensitive data and ensure secure access control. </p>
            <a href="/contactus" class="btn btn-get-started">Request Demo</a>
            <!-- <a href="#" class="btn btn-get-started">Get Started</a> -->
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <!-- <img src="assets/img/features-light-1.jpg" alt="" class="stack-front"> -->
              <img src="assets/img/products/34.jpg" alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->
      </div>
    </section><!-- End Features Section -->
    <!-- Recent-posts Section - Home Page -->
    <section id="recent-posts" class="recent-posts">

      <!-- Recent-posts Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Enhanced, Advanced, Secured.</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="assets/img/products/39.jpg" alt="" class="img-fluid">
              </div>

              <!-- <p class="post-category">Politics</p> -->

              <h6><b>Advanced Edge Computing</b></h6>

              <p>EAGLE harnesses the power of edge computing technology, enabling real-time data processing and
                analytics directly at the manufacturing machines.</p>


            </article>
          </div><!-- End post list item -->
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/products/37.jpg" alt="" class="img-fluid">
              </div>

              <h6><b>Proactive Maintenance</b></h6>
              <p>By integrating data from EAGLE, manufacturers gain precise insights into machine performance,
                production trends, and operational metrics, enabling informed decision-making.</p>



            </article>
          </div><!-- End post list item -->
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/products/35.jpg" alt="" class="img-fluid">
              </div>
              <h6><b>Enhanced Efficiency</b></h6>
              <p>With EAGLE, manufacturers can optimize production processes, improve resource allocation, and
                streamline workflows, resulting in enhanced operational efficiency.</p>
            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/products/36.jpg" alt="" class="img-fluid">
              </div>

              <h6><b>Precise Insights</b></h6>
              <p>By integrating data from EAGLE, manufacturers gain precise insights into machine performance,
                production trends, and operational metrics, enabling informed decision-making.</p>


            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/products/40.jpg" alt="" class="img-fluid">
              </div>

              <h6><b>Advanced Threat Detection</b></h6>
              <p>EAGLE Pro incorporates advanced threat detection mechanisms to identify and mitigate sophisticated
                cyber threats. It employs advanced algorithms and machine learning techniques and proactively respond to
                potential threats.</p>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/products/38.jpg" alt="" class="img-fluid">
              </div>
              <h6><b>Advanced Reporting and Analytics</b></h6>
              <p>EAGLE Pro enhances reporting and analytics capabilities to provide comprehensive visibility into
                security posture. It offers detailed reports,and trend analysis to enable security teams to monitor and
                assess security risks</p>


            </article>
          </div><!-- End post list item -->





        </div><!-- End recent posts list -->

      </div>

    </section><!-- End Recent-posts Section -->
  </main>

 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
       <a href="/mainhome" class="logo d-flex align-items-center">
             <span>Loginware</span>
          </a>
        <p>Loginware an industry-leading technology company at the forefront of delivering sophisticated and digitally transformative solutions for the manufacturing sector.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://api.whatsapp.com/send?phone=+919916609819"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.facebook.com/Loginware-Softtec-Pvt-Ltd-159838271120545/"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/loginware_softtec_pvt_ltd?igshid=xkw7jj53xx10"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Company</h4>
        <ul>
          <li><a href="/mainhome">Product</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Products</h4>
        <ul>
          <li><a href="/eagle">Eagle</a></li>            
            <li><a href="/eaglepro">Eagle Pro</a></li>
            <li><a href="/sparrow">Sparrow</a></li>
            <li><a href="/feathergauge">FeatherGauge</a></li>
            <li><a href="/featherwatt">FeatherWatt</a></li>
            <li><a href="/vision">Eagle Vision Analytics</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p><b>HQ  | </b> Hassan</p>
        <p><b>CO  | </b> Banglore</p>        
        <p class="mt-4"><strong>Phone:</strong> <span>+91 9916609819</span></p>
        <p><strong>Email:</strong> <span>info@loginwaresofttec.com</span></p>
      </div>

    </div>
  </div>

</footer><!-- End Footer -->
  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body>
</html>