<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Loginware</title>
 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Loginware</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel = "icon" href ="assets/img/loginware.jpg" type = "image/x-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/" rel="preconnect">
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body class="index-page">
<header class="header d-flex align-items-center sticky-top" style="padding-right: 5%;" id="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a class="logo d-flex align-items-left me-auto me-xl-0" href="/mainhome">
        <img src="/images/q4blue.png" height="68" alt="">
        <span></span>
      </a>
      
     

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li class="dropdown has-dropdown"><a href="/mainhome"><span>Products</span> <i
            class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
             <li><a href="/eagle">Eagle</a></li>            
            <li><a href="/eaglepro">Eagle Pro</a></li>
            <li><a href="/sparrow">Sparrow</a></li>
            <li><a href="/feathergauge">FeatherGauge</a></li>
            <li><a href="/featherwatt">FeatherWatt</a></li>
            <li><a href="/vision">Eagle Vision Analytics</a></li>
            </ul>
          </li>

        <li>
             <a class="" href="/student_register">New-Register</a>
       </li>
          <!-- <li><a href="blog.html">News Room</a></li> -->

        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <!-- <a href="index.html#about" class="btn-getstarted"></a> -->

    </div>
  </header>
  <main id="main">

    <!-- Home Section - Home Page -->
    <section id="hero" class="hero">

      <img src="assets/img/images/banner_2.jpg" alt="banner" data-aos="fade-in">
      <!-- ======= Home Section ======= -->
      <section id="hero" class="d-flex align-items-center">

        <div class="container" data-aos="zoom-out" data-aos-delay="100">
          <div class="row">
            <div class="col-xl-12">
              <h1>EAGLE, SPARROW and many more ...</h1>
              <h6>Dive into Loginware's Industry 4.0 Products and Solutions...</h6>
            </div>
          </div>
        </div>

      </section><!-- End Home -->


    </section><!-- End Home Section -->

    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Industry 4.0 made simple with Loginware's Solutions.</h2>
          <p style="text-align: left;">Unlock the next opportunity for your company with Loginware's comprehensive IIoT solutions. Our EAGLE -
            Edge Computing Device, SPARROW - Manufacturing Operation Management Software, and powerful Analytics,
            combined with Loginware's expertise, drive digital transformation at scale. Enhance operations, analysis,
            and preserve your competitive edge across the enterprise. Experience the power of Loginware's IIoT platforms
            for a connected future.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="/eagle">
              <div class="portfolio-wrap">
                <img src="assets/img/images/9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>EAGLE</h4>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href="/eaglepro">
              <div class="portfolio-wrap">
                <img src="assets/img/images/17.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>EAGLE Pro</h4>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="/sparrow">
              <div class="portfolio-wrap">
                <img src="assets/img/images/16.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>SPARROW</h4>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <a href="/feathergauge">
              <div class="portfolio-wrap">
                <img src="assets/img/images/5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>FeatherGauge</h4>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href="/featherwatt">
              <div class="portfolio-wrap">
                <img src="assets/img/images/14.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>FeatherWatt</h4>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="/vision">
              <div class="portfolio-wrap">
                <img src="assets/img/images/15.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Eagle Vision Analytics</h4>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>
   <!-- Industry Section - Home Page -->
    <section id="services" class="services">

      <!-- Industry Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Why Loginware’s Industry 4.0 Ecosystem?</h2>
        <p style="text-align: left;">Empower your business with industry-leading Loginware’s Industry4.0 ecosystem, enabling cost-effective
          production of top-quality products at unmatched speed, surpassing your competitors.. Experience the power of
          Loginware's industry-rich solutions and gain a competitive edge in the manufacturing industry.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div data-aos-delay="100" data-aos="fade-up" class="col-lg-6">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-display"></i></div>
              <div>
                <h4 class="title">Digital Mirror of the real
                    production.</h4>
                <p class="description">Loginware Industry 4.0 Ecosystem, where the seamless integration of EAGLE,
                  SPARROW, and Analytics creates a powerful real-time software layer. This cutting-edge solution bridges
                  the gap between product lifecycle management (PLM) and automation, effectively connecting the virtual
                  realm of product development with the dynamic realities of production.</p>
              </div>
            </div>
          </div>

          <div data-aos-delay="200" data-aos="fade-up" class="col-lg-6">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h5 class="title">Boost efficiency and cut
                    </h4>
                  <p class="description">Optimize manufacturing and quality operations through digital planning and
                    orchestration, resulting in streamlined production processes, enhanced reliability, and increased
                    visibility into operations. Experience improved cost savings and operational efficiency as you
                    leverage advanced digital technologies</p>
              </div>
            </div>
          </div>

          <div data-aos-delay="300" data-aos="fade-up" class="col-lg-6">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
              <div>
                <h5 class="title">Unleash the power of continuous
                    improvement.</h4>
                  <p class="description">Leverage as-planned and as-is data to fuel innovation and swiftly implement
                    changes. Transform vast amounts of big data into actionable intelligence to proactively predict and
                    resolve issues, ensuring seamless operations and driving continuous improvement throughout your
                    organization.</p>
              </div>
            </div>
          </div>

          <div data-aos-delay="400" data-aos="fade-up" class="col-lg-6">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
              <div>
                <h5 class="title">Transforming Workforce Empowerment</h4>
                  <p class="description">Regardless of the level of autonomy in your systems, human involvement remains crucial. Empower workers by providing them with technologies like AI and real-time sensor data, enabling them to stay informed about shop floor activities and make prompt decisions to address emerging issues.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Industry Section -->
  <section id="features" class="features">

      <!-- Expertise Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Expertise</h2>
        <p style="text-align: center;">"Data Mastery, Industry Proficiency: Experience the Difference with Loginware's Expertise."</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Factory Digitization</h3>
            <p>
              As pioneers in the digital landscape, we understand the transformative power of Industry 4.0 and its potential to redefine industries. Our comprehensive range of innovative products, including EAGLE, SPARROW, and Loginware's Analytics, combine seamlessly to create a powerful ecosystem   
              At Loginware, we excel in driving digital transformation through our industry-leading expertise and a suite of advanced products that revolutionize industries with Industry 4.0 solutions. </p>
              <a href="/eagle" class="btn btn-get-started">Get Started</a>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src="assets/img/images/12.jpg" alt="" class="stack-front">
              <img src="assets/img/images/4.jpg" alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
            <img src="assets/img/images/13.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>Quality Management</h3>
            <p> 
              SPARROW, Loginware’s Manufacturing Operations Management software provides a comprehensive suite of quality management features, including tracking non-conformances, managing CAPAs, and facilitating quality audits. It consolidates the data collected by EAGLE and other connected devices, enabling businesses to monitor quality performance, identify trends, and take proactive actions to address potential issues.</p>
    <a href="/sparrow" class="btn btn-get-started align-self-start">Get Started</a>
          </div>
        </div><!-- Features Item -->
  <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Production Planning </h3>
            <p>
              Loginware specializes in optimizing production planning and improving production efficiency through our advanced product offerings. Leveraging our expertise, we provide innovative solutions that empower businesses to streamline their production processes, maximize output, and drive operational excellence.
              Our suite of products combines cutting-edge technologies such as artificial intelligence (AI), machine learning (ML), Internet of Things (IoT), and data analytics to deliver comprehensive solutions for production planning and efficiency improvement.
              </p>
            <a href="/sparrow" class="btn btn-get-started">Get Started</a>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src="assets/img/images/2.jpg" alt="" class="stack-front">
              <img src="assets/img/images/5.jpg" alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
            <img src="assets/img/images/7.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>Energy Management</h3>
            <p>At Loginware, we have established ourselves as leaders in the field of energy efficiency, offering a range of cutting-edge solutions that help businesses optimize their energy consumption and reduce their environmental impact. Through our expertise and innovative approach, we enable organizations to achieve significant cost savings while promoting sustainability.
              Our energy efficiency solutions are designed to address the unique energy challenges faced by businesses across various industries.
              </p>
              <a href="/featherwatt" class="btn btn-get-started align-self-start">Get Started</a>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- End Expertise Section -->
     <!-- Case Studies Section - Home Page -->
    <section id="recent-posts" class="recent-posts">

      <!-- Case Studies Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Case Studies</h2>
        <p style="text-align: center;">"From Obstacles to Achievements: Empowering Industries with Loginware's Revolutionary Solutions."</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="assets/img/products/51.jpg" alt="" class="img-fluid">
              </div>

              <p style="font-size: medium;font-weight: 800;">
                <a>Streamlined Production Planning with SPARROW</a>
              </p>          

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/products/52.jpg" alt="" class="img-fluid">
              </div>

              <p style="font-size: medium;font-weight: 800;">
                <a>Real-Time Data-driven Decision-making with EAGLE and Loginware Analytics</a>
              </p>


            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/products/53.jpg" alt="" class="img-fluid">
              </div>

            
              <p style="font-size: medium;font-weight: 800;">
                <a>Enhanced Quality Control with Loginware Analytics</a>
              </p>

              

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>

    </section><!-- End Case Studies Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Loginware</span>
          </a>
          <p>Loginware an industry-leading technology company at the forefront of delivering sophisticated and digitally transformative solutions for the manufacturing sector.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://api.whatsapp.com/send?phone=+919916609819"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/Loginware-Softtec-Pvt-Ltd-159838271120545/"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/loginware_softtec_pvt_ltd?igshid=xkw7jj53xx10"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
         
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Company</h4>
          <ul>
            <li><a href="/mainhome">Product</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Products</h4>
          <ul>
            <li><a href="/eagle">Eagle</a></li>            
            <li><a href="/eaglepro">Eagle Pro</a></li>
            <li><a href="/sparrow">Sparrow</a></li>
            <li><a href="/feathergauge">FeatherGauge</a></li>
            <li><a href="/featherwatt">FeatherWatt</a></li>
            <li><a href="/vision">Eagle Vision Analytics</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p><b>HQ  | </b> Hassan</p>
          <p><b>CO  | </b> Banglore</p>        
          <p class="mt-4"><strong>Phone:</strong> <span>+91 9916609819</span></p>
          <p><strong>Email:</strong> <span>info@loginwaresofttec.com</span></p>
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="jquery/jquery.min.html"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/main1.js"></script>

</body>
</html>